<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="this is an aha-template" name="description"/>
  <meta content="width=device-width" name="viewport"/>
  <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="/assets/artifacts/bundle.css" rel="stylesheet">
  <title>aaha-template</title>
</head>
<body>
<div class="root">
  {% include "components/header.html" %}
  <div class="page">
    {% block page %}
    {% endblock %}
  </div>
  {% include "components/footer.html" %}
</div>
</body>
<script
  crossorigin="anonymous"
  src="https://kit.fontawesome.com/89c6b9d148.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script defer src="//unpkg.com/alpinejs"></script>
<script>
    document.addEventListener("alpine:init", () => {
        Alpine.store("page", {});
    });
</script>
<script>
    function eraseCookies() {
        let cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let eqPos = cookie.indexOf("=");
            let name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    function signOut() {
        eraseCookies();
        window.location.reload();
    }
</script>
</html>
